publishers.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="publishers">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="publisher" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:string" name="country"/>
              <xs:element type="xs:string" name="city"/>
              <xs:element type="xs:short" name="founded"/>
              <xs:element name="books">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:integer" name="id"/>
                    <xs:element type="xs:string" name="name"/>
                    <xs:element name="authors">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="dob"/>
                          <xs:element type="xs:string" name="name"/>
                          <xs:element type="xs:string" name="surename"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="category">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="name"/>
                          <xs:element type="xs:integer" name="place"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:integer" name="circulation"/>
                    <xs:element type="xs:short" name="published"/>
                    <xs:element name="rating">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:float" name="bookRating"/>
                          <xs:element type="xs:integer" name="ratedBy"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>